.user-container {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 30px;
  height: 21vh;
  border-radius: 15px;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  width: 22.5vw;
}

.label-main {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.label-info {
  margin-top: 3px;
}

.info-line-item {
  margin-bottom: 15px;
  vertical-align: baseline;
}

@media screen and (max-width: 430px) {
  .user-container {
    width: 70vw;
  }
}
