$standard-spacing: 15px;
$double-spacing: 30px;
$twitter-grey: #e6ecf0;

.tweet-header-info {
  font-weight: bold;
}

.tweet-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}

.tweet-header-info p {
  font-weight: normal;
  margin-top: $standard-spacing;

}

.tweet-img-wrap {
  padding-left: 60px;
}

.tweet-icons {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.tweet-icons div {
  display: flex;
  margin-right: 20px;
}

.tweet-icons div svg {
  color: #657786;
  margin-right: 10px;
}

@media screen and (max-width: 430px) {
  .tweet-header {
    flex-direction: column;
  }
  .tweet-header img {
    margin-bottom: 20px;
  }
  .tweet-header-info p {
    margin-bottom: $double-spacing;
  }
  .tweet-img-wrap {
    padding-left: 0;
  }
  .tweet-icons {
    display: flex;
    margin-left: 0;
  }
  .tweet-icons div {
    margin-right: 10px;
  }
}
